<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockTerminal.Properties.Settings.testConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\test.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <appSettings>
        <add key="accessConnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\\test.mdb" />
    </appSettings>
</configuration>